.Container#main {
    display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;  
    background-color: #f7f7f7;
}
h1{
    text-align: center;
}
#task-input{
    border: 1px solid #cccccc; 
   outline:0; 
   height:50px; 
   width: 400px;
   font-size:1.5em;
   text-indent: 30px;
}
::placeholder{
    opacity: 1;
    color: rgb(170, 170, 170)
}
.Header{
    font-family: Geologica;
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.Todolist{
    display:flex;
    flex-direction: row;
    width:100%;
}
.Todowork{
    display:inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
}
.Todowork-mini{
    display:inline-flex;
    justify-content:center;
    align-items: center;
}   
ul {
    list-style-type: none;
}
.completedwork {
    text-decoration: line-through;
    overflow-wrap:break-word;
    padding: 15px;
    display:block;
    line-height: 1.2;
    transition: color .4s;
    font-weight: 250;
    font-size:30px;
    color: #303030;
}
.Todolist{
    width:100%;
    background-color: rgb(255, 255, 255);
}
.Todowork{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    border-style:solid;
    border-color:#cecece60;
    border-bottom-width:0.5px;
}
input[type="checkbox"]{
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 40px;
      height: 40px;
      border: 2px solid #999;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      margin: 5px
}
input[type="checkbox"]:checked {
    background-color: #ff3e3e;
}
.deleteButton{
    display:none;
    cursor:pointer;
}
.notcompletedwork{
    overflow-wrap:break-word;
    padding: 15px;
    display:block;
    line-height: 1.2;
    transition: color .4s;
    font-weight: 250;
    font-size:30px;
    color: #303030; 
}
.Todowork:hover .deleteButton{
    background-color: transparent;
    font-size:19;
    border:none;
    padding: 16px 20px;
    display: inline-block;
    color:#ff3e3e;
}
.function-row{
    padding-left:0px;
    display:inline-flex;
    align-items: center;
}
.filters li{
    display:inline;
    padding-left: 5px;
    padding-right:5px;
}
.Scrollable{
    max-height:300px;
    overflow-y: auto;
  }