<div class="Container" id="main">
  <h1>{{ title }}</h1>
  <div class="Header">
    <input type="text" id="task-input" placeholder="What are you doing today?" (keyup.enter)="addWork()">
    <router-outlet></router-outlet>
    <div class="function-row" *ngIf="sizeOfTodoworks()>0">
      <span class="todo-count">
        <strong>{{jobLeft()}}</strong>
        jobs left
      </span>
      <ul class="filters">
        <li id="all"><a routerLink="/">All</a></li>
        <li id="active"><a routerLink="/active">Active</a></li>
        <li id="completed"><a routerLink="/completed">Completed</a></li>
      </ul>
      <button type="button" class="clear-completed" *ngIf="jobLeft()<sizeOfTodoworks()" (click)="clearCompletedWork()"> Clear completed</button>
    </div>
  </div>
</div>