.Container#main {
    display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;  
    background-color: #ffffff;
}
h1{
    text-align: center;
    color:#c45151;
    font-size:50px;
}
#task-input{
    border: 1px solid #cccccc; 
   outline:0; 
   height:50px; 
   width: 500px;
   font-size:1.5em;
   text-indent: 30px;
}
::placeholder{
    opacity: 1;
    color: rgb(170, 170, 170)
}
.Header{
    box-shadow: 0px 0px 10px rgba(117, 117, 117, 0.5);
    font-family: Geologica;
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.Todolist{
    display:flex;
    flex-direction: row;
    width:100%;
}
.Todowork{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    border-style:solid;
    border-color:#999;
    border-width:5px;
}
ul {
    list-style-type: none;
}
.completedwork {
    text-decoration: line-through;
}
.Todolist{
    width:100%;
    background-color: rgb(255, 255, 255);
}
.Todowork{
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 10px;
    border-color: rgb(255, 255, 255);
    border-width: 0.5px;
    display: flex;
    align-items:center;
    font-size: 2em;
}
input[type="checkbox"]{
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 40px;
      height: 40px;
      border: 2px solid #999;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #ff3e3e;
}
.deleteButton{
    display:none;
}
.Todowork:hover .deleteButton{
    display: inline-block;
    color:#ff3e3e;
}
.function-row{
    padding-left:20px;
    display:inline-flex;
    width: 100%;
    align-items: center;
}
.clear-button{
    padding-left:10px;
}
.filters{
    align-items: center;
}
.filters li{
    display:inline;
    padding-left: 5px;
    padding-right:5px;
}
.filters li a{
    color:black;
    font-style:normal;
    text-decoration: none;
}
.filter li a:hover{
    border-color: #db7676;
}
.selected{
    border-style: solid;
    border-color: rgb(255, 95, 78);
    border-radius: 3px;
}
.todo-count{
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}
.clear-completed{
    padding-left:40px;
    background-color: transparent;
    border:none;
    font-size: 15px;
    color:black;
    text-align: center;
}