.Container#main {
    display: flex;
        justify-content: center;
        align-items: start;
        height: 100vh;  
    background-color: transparent;
}
h1{
    text-align: center;
}
#task-input{
    border: 1px solid #cccccc; 
   outline:0; 
   height:50px; 
   width: 400px;
   font-size:1.5em;
   text-indent: 30px;
}
::placeholder{
    opacity: 1;
    color: rgb(170, 170, 170)
}
.Header{
    font-family: Geologica;
    display:flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
.Todolist{
    display:flex;
    flex-direction: column;
}
.Todowork{
    display:flex;
    flex-direction: row;
}
ul {
    list-style-type: none;
}
.completedwork {
    text-decoration: line-through;
}
.Todolist{
    background-color: rgba(171, 171, 171, 0.333);
}
.Todowork{
    font-family: Arial, Helvetica, sans-serif;
    border-style:solid;
    text-indent: 20px;
    border-color: rgb(173, 173, 173);
    border-width: 0.5px;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    font-size: 2em;
}
input[type="checkbox"]{
    appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      width: 40px;
      height: 40px;
      border: 2px solid #999;
      border-radius: 50%; /* Round the checkbox */
      outline: none;
      cursor: pointer;
}
input[type="checkbox"]:checked {
    background-color: #ff3e3e; /* Change background color when checked */
}
.deleteButton{
    display:flex;
    align-items: end;
}