<div class="Container" id="main">
  <div class="Header">
    <h1>{{ title }}</h1>
    <input type="text" id="task-input" placeholder="What are you doing today?" (keyup.enter)="addWork()">
    <router-outlet></router-outlet>
    <div class="function-row" *ngIf="sizeOfTodoworks()>0">
      <span class="todo-count">
        <strong>{{jobLeft()}}</strong>
        item left
      </span>
      <ul class="filters">
        <li id="all" class="selected"><a routerLink="/" (click)="navBarChange('all')">All</a></li>
        <li id="active"><a routerLink="/active" (click)="navBarChange('active')">Active</a></li>
        <li id="completed"><a routerLink="/completed" (click)="navBarChange('completed')">Completed</a></li>
      </ul>
      <button type="button" class="clear-completed" *ngIf="jobLeft()<sizeOfTodoworks()" (click)="clearCompletedWork()"> Clear completed</button>
    </div>
  </div>
</div>