<div class="Container" id="main">
  <h1>{{ title }}</h1>
  <div id="modal">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fa fa-exclamation-circle fa-5x" aria-hidden="true"></i>
        <h4>Are you sure?</h4>
      </div>
      <div class="modal-body">Do you really want to delete this record? This process cannot be undone.</div>
      <div class="modal-button"> 
        <button id="cancel-delete">Cancel</button>
        <button id="confirm-delete">Confirm</button>
      </div>
    </div>
  </div>
  <div class="Header">
    <input type="text" id="task-input" placeholder="What are you doing today?" (keyup.enter)="addWork()">
    <router-outlet></router-outlet>
    <div class="function-row" *ngIf="sizeOfTodoworks()>0">
      <span class="todo-count">
        <strong>{{jobLeft()}}</strong>
        jobs left
      </span>
      <ul class="filters">
        <li id="all"><a routerLink="/">All</a></li>
        <li id="active"><a routerLink="/active">Active</a></li>
        <li id="completed"><a routerLink="/completed">Completed</a></li>
      </ul>
      <button type="button" class="clear-completed" *ngIf="jobLeft()<sizeOfTodoworks()" (click)="clearCompletedWork()">
        Clear completed</button>
    </div>
  </div>
</div>