/* You can add global styles to this file, and also import other style files */
.Container#main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #ffffff;
}

.Header {
    box-shadow: 0px 16px 50px -32px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 554px;
}

h1 {
    text-align: center;
    color: #FF204E;
    font-size: 55px;
    font-family: "Pacifico";
}

#task-input {
    border: transparent;
    height: 70px;
    outline: none;
    width: 550px;
    font-size: 2.0em;
    background-color: #d8d8d865;
    text-indent: 49px;
    font-family: "Calistoga";
    transition: 0.1s;
}

#task-input:focus {
    border: solid 0.7px rgb(255, 142, 129);
}

::placeholder {
    opacity: 1;
    color: rgb(170, 170, 170)
}

ul {
    list-style-type: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40px;
    height: 40px;
    border: 2px solid #999;
    opacity: 0;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
}

.function-row {
    display: inline-flex;
    width: 100%;
    align-items: center;
    background-color: #d8d8d865;
    box-shadow: 0px 1px #0003, 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px #0003, 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px #0003;
}

.clear-button {
    padding-left: 10px;
    cursor: pointer;
}

.filters {
    align-items: center;
    padding-right: 30px;
}

.filters li {
    display: inline;
    padding-left: 5px;
    padding-right: 5px;
}

.filters li a {
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-family:  "Alata", sans-serif;
}



.selected {
    border-style: solid;
    border-color: #A0153E;
    border-radius: 6px;
    border-width: 1.5px;
}

.todo-count {
    padding-left: 12px;
    padding-right: 40px;
    font-size: 16px;
    font-family: "Alata", sans-serif;
    color: #111;
}

.clear-completed {
    padding-left: 40px;
    background-color: transparent;
    border: none;
    font-size: 16px;
    color: black;
    font-family: "Alata", sans-serif;
    text-align: center;
    cursor: pointer;
}

.Todowork-mini {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.completedwork {
    text-decoration: line-through;
    overflow-wrap: break-word;
    padding: 8px;
    display: block;
    line-height: 1.2;
    font-weight: 70;
    font-size: 30px;
    font-family: "Quando";
    color: #b8b8b8;
}

.notcompletedwork {
    overflow-wrap: break-word;
    padding: 8px;
    display: block;
    font-family: "Quando";
    line-height: 1.2;
    font-weight: 70;
    font-size: 30px;
    color: #6e6e6e;
}

.Todolist {
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.Todowork {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 99.2%;
    border-style: solid;
    border-color: #cecece60;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-width: 0.5px;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 30px;
    border: 1px solid #999;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin: 5px
}

input[type="checkbox"]:checked {
    background-color: #ff3e3e;
}

.deleteButton {
    display: none;
    cursor: pointer;
    size: 10px;
}

.Todowork:hover .deleteButton {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    color: #5D0E41;
    font-size: 25px;
}

.Scrollable {
    max-height: 300px;
    overflow-y: auto;
}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

.single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}

.mate-regular {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

.mate-regular-italic {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: italic;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}
.jomolhari-regular {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
  }
  .alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  