/* You can add global styles to this file, and also import other style files */
.Container#main {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background-color: #ffffff;
}

body {
    margin: 0px;
    font-family: Helvetica, Arial, sans-serif
}

.Header {
    box-shadow: 0px 16px 50px -32px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    max-width: 554px;
}

h1 {
    text-align: center;
    color: #B83F45;
    font-size: 55px;
    font-family: "Inter";
}

#task-input {
    border: transparent;
    height: 62px;
    outline: none;
    width: 550px;
    font-size: 24px;
    background-color: #d8d8d865;
    text-indent: 49px;
    font-family: inter, sans-serif;
    transition: 0.1s;
}

#task-input:focus {
    border: solid 0.7px rgb(255, 142, 129);
}

::placeholder {
    opacity: 1;
    color: rgb(170, 170, 170)
}

ul {
    list-style-type: none;
}

.function-row {
    display: inline-flex;
    width: 97.3%;
    align-items: center;
    justify-content: center;
    font-size:16px;
    gap:32px;
    padding-left:8px;
    padding-right:8px;
    background-color: #d8d8d865;
    box-shadow: 0px 1px #0003, 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px #0003, 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px #0003;
}

.clear-button {
    padding-left: 10px;
    cursor: pointer;
}

.filters {
    align-items: center;
    padding-right: 30px;
    display:flex;
    gap:12px;
}

.filters li {
    display: inline;
}

.filters li a {
    padding:7px;
    border:1px;
    color: black;
    font-style: normal;
    text-decoration: none;
    font-weight: 300;
    font-family: "Alata", sans-serif;
}

.selected {
    border-style: solid;
    border-color: #d11d53;
    border-radius: 6px;
    border-width: 1.32px;
}

.todo-count {
    font-weight:200;
    font-family: Arial, Helvetica, sans-serif;
    color: #111;
}

.clear-completed {
    background-color: transparent;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

.Todowork-mini {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.completedwork {
    text-decoration: line-through;
    overflow-wrap: break-word;
    padding: 16px 16px 16px 30px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 24px;
    color: #a7a7a7;
    max-width: 410px;
}

.notcompletedwork {
    overflow-wrap: break-word;
    padding: 16px 16px 16px 30px;
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.2;
    font-weight: 400;
    font-size: 24px;
    color: #484848;
    max-width: 410px;
}


.Todolist {
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #ededed;
}

.Todowork {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 99.2%;
    border:none;
    height: 60px;
}

.deleteButton {
    display: none;
    cursor: pointer;
    size: 10px;
}

.Todowork:hover .deleteButton {
    background-color: transparent;
    border: none;
    padding: 10px 10px;
    display: inline-block;
    color: #5D0E41;
    font-size: 25px;
}

.Scrollable {
    max-height: 300px;
    overflow-y: auto;
}

.calistoga-regular {
    font-family: "Calistoga", serif;
    font-weight: 400;
    font-style: normal;
}

.single-day-regular {
    font-family: "Single Day", cursive;
    font-weight: 400;
    font-style: normal;
}

.mate-regular {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: normal;
}

.mate-regular-italic {
    font-family: "Mate", serif;
    font-weight: 400;
    font-style: italic;
}

.pacifico-regular {
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
}

.jomolhari-regular {
    font-family: "Jomolhari", serif;
    font-weight: 400;
    font-style: normal;
}

.alata-regular {
    font-family: "Alata", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input[type="checkbox"] {
    appearance: none;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
}

.customcheckbox {
    margin-left: 5px;
    display: block;
    position: relative;
    align-items: center;
    cursor: pointer;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border-style: solid;
    border-color: #b3b3b3;
    border-width: 1px;
}

.customcheckbox:hover {
    border-style: solid;
    border-color: #111;
}

.customcheckbox-checked {
    align-self: center;
    border-width: 1px;
    justify-content: center;
    display: flex;
    height: 30px;
    width: 30px;
    margin-left: 5px;
    border-radius: 50%;
    border-style: solid;
    border-color: #5D0E41;
    cursor: pointer;
    font-family: Arial, sans-serif;
    color: #00224D;
    font-size: 22px;
}

#modal {
    display: none;
    position: fixed;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(107, 107, 107, 0.4);
    z-index: 2;
}

.modal-content {
    margin: auto;
    display: flex;
    position: fixed;
    width: 300px;
    height: 350px;
    top: 20%;
    border-radius: 4px;
    background-color: white;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F15E5E;
}

.modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-header h4 {
    color: #636363;
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-body {
    color: #999999;
    overflow: auto;
    align-items: center;
    text-align: center;
    font-size: 14px;
    margin-bottom: 20px;
}

.modal-button {
    display: inline-block;
}

.modal-button button {
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    border: none;
    font-family: "Varela Round", sans-serif;
    border-radius: 4px;
    min-width: 120px;
    min-height: 40px;
}

#cancel-delete {
    background: #c4c4c4;
}

#cancel-delete:hover {
    background-color: #838383;
}

#confirm-delete {
    background-color: #f38282;
}

#confirm-delete:hover {
    background-color: #f05345;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 30;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}
.clear-completed-button{
    width:109.08px;
    height:19px;
}
.clear-completed-button:hover{
    border-width: 1px;
    border-color: #b3666a;
    border-style:solid;
    border-radius:4px;
}